:root {
    --primary-color: #111111;
    --secondary-color: #252525;
    --secondary-color-hover: #393e47;
    --tertiary-color: #111111;
    --primary-font-color: #707478;
}

body {
    font-family: "IBM Plex Mono", monospace;
    color: var(--primary-color);
    height: 100vh; /* Asumiendo que "lvh" se refiere a la altura total de la ventana */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3490dc; /* Asumiendo un color de fondo primario; ajusta según tu diseño */
    overflow: hidden;
}

.LayoutMainContentSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}