:root {
    --primary-color: #111111;
    --secondary-color: #252525;
    --secondary-color-hover: #393e47;
    --tertiary-color: #111111;
    --primary-font-color: #707478;
    
    --js-purple-color: #9e80ce;
    --js-orange-color: #d39560;
    --js-red-color: #d86068;
    --js-green-color: #7bc36e;
    --js-blue-color: #56b6c2;
    --js-yellow-color: #ffc922;
}

body {
    font-family: "IBM Plex Mono", monospace;
    color: var(--primary-color);
    height: 100vh; /* Asumiendo que "lvh" se refiere a la altura total de la ventana */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3490dc; /* Asumiendo un color de fondo primario; ajusta según tu diseño */
    overflow: hidden;
}

.LayoutMainContentSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.jsRedColor{
    color: var(--js-red-color)
}
.jsGreenColor{
    color: var(--js-green-color)
}
.jsPurpleColor{
    color: var(--js-purple-color)
}
.jsOrangeColor{
    color: var(--js-orange-color)
}
.jsBlueColor{
    color: var(--js-blue-color)
}
.jsYellowColor{
    color: var(--js-yellow-color)
}