---
import './styles.css'
import profileIcon from './profile.png'

---

<nav class="toolBar">
    <button class="toolBarHomeButton" disabled>
        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 5.7319C0 5.58482 0.0647536 5.44521 0.177029 5.35021L6.17703 0.273283C6.36345 0.115541 6.63655 0.115541 6.82297 0.273283L12.823 5.35021C12.9352 5.44521 13 5.58482 13 5.7319V14C13 14.2761 12.7761 14.5 12.5 14.5H8.5C8.22386 14.5 8 14.2761 8 14V10C8 9.72386 7.77614 9.5 7.5 9.5H5.5C5.22386 9.5 5 9.72386 5 10V14C5 14.2761 4.77614 14.5 4.5 14.5H0.5C0.223858 14.5 0 14.2761 0 14V5.7319Z" fill="#D9D9D9"/>
        </svg>
        <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L3.62037 4.0571C3.81992 4.28991 4.18008 4.28991 4.37963 4.0571L7 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
    <div class="toolBarSeparator"></div>
    <a href="https://linkedin.com/in/aleix-rosell-morell" target="_blank">
        <button>
            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 0C2.01472 0 0 2.01472 0 4.5V19.5C0 21.9853 2.01472 24 4.5 24H19.5C21.9853 24 24 21.9853 24 19.5V4.5C24 2.01472 21.9853 0 19.5 0H4.5ZM7.83397 18.2751C7.83397 19.2676 7.02934 20.0723 6.03679 20.0723C5.04424 20.0723 4.23962 19.2676 4.23962 18.2751V11.0864C4.23962 10.0939 5.04424 9.28924 6.03679 9.28924C7.02934 9.28924 7.83397 10.0939 7.83397 11.0864V18.2751ZM6.03679 7.19254C5.62486 7.18077 5.22553 7.04787 4.8887 6.81044C4.55187 6.57301 4.29248 6.24158 4.14293 5.85758C3.99338 5.47357 3.96031 5.054 4.04785 4.65131C4.13539 4.24861 4.33966 3.88064 4.63514 3.59338C4.93061 3.30611 5.30419 3.11229 5.70919 3.03612C6.11419 2.95996 6.53265 3.00483 6.9123 3.16513C7.29194 3.32544 7.61593 3.59406 7.84378 3.93745C8.07163 4.28083 8.19323 4.68374 8.1934 5.09584C8.18394 5.65938 7.95178 6.19625 7.54768 6.58913C7.14357 6.98201 6.60037 7.19896 6.03679 7.19254ZM21 18.2685C21.0073 19.2626 20.2035 20.0723 19.2094 20.0723C18.2205 20.0723 17.4189 19.2706 17.4189 18.2817V14.3932C17.4189 12.6919 16.7 12.0808 15.7655 12.0808C15.4915 12.0991 15.2238 12.1713 14.9778 12.2933C14.7318 12.4153 14.5123 12.5847 14.3319 12.7918C14.1516 12.9988 14.0139 13.2395 13.9268 13.4999C13.8575 13.7071 13.8214 13.9236 13.8193 14.1414C13.8191 14.1645 13.8187 14.1877 13.8183 14.2109V14.2109C13.8167 14.2998 13.8151 14.3889 13.8245 14.4771V18.2751C13.8245 19.2676 13.0199 20.0723 12.0274 20.0723C11.0348 20.0723 10.2302 19.2676 10.2302 18.2751V11.0265C10.2302 10.067 11.008 9.28924 11.9675 9.28924H13.346C13.5441 9.28924 13.7047 9.44986 13.7047 9.64799C13.7047 10.0041 14.232 10.1877 14.5117 9.96725C14.6957 9.82224 14.8936 9.69435 15.1031 9.5857C15.6696 9.292 16.3019 9.14866 16.9396 9.16943C18.7967 9.16943 20.9653 10.1998 20.9653 13.5545L21 18.2685Z" fill="#808080"/>
            </svg>
            <span>LinkedIn</span>
        </button>
    </a>
    <a href="https://github.com/Aleiiixx" target="_blank">
        <button>
            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.5C0 2.01472 2.01472 0 4.5 0H19.5C21.9853 0 24 2.01472 24 4.5V19.5C24 21.9853 21.9853 24 19.5 24H4.5C2.01472 24 0 21.9853 0 19.5V4.5ZM22 12C22 6.475 17.525 2 12 2C6.475 2 2 6.475 2 12C1.9989 14.0991 2.65881 16.1453 3.88611 17.8483C5.11342 19.5513 6.8458 20.8245 8.8375 21.4875C9.3375 21.575 9.525 21.275 9.525 21.0125C9.525 20.93 9.52349 20.781 9.52152 20.5867C9.51782 20.2217 9.5125 19.6965 9.5125 19.15C7 19.6125 6.35 18.5375 6.15 17.975C6.0375 17.6875 5.55 16.8 5.125 16.5625C4.775 16.375 4.275 15.9125 5.1125 15.9C5.9 15.8875 6.4625 16.625 6.65 16.925C7.55 18.4375 8.9875 18.0125 9.5625 17.75C9.65 17.1 9.9125 16.6625 10.2 16.4125C7.975 16.1625 5.65 15.3 5.65 11.475C5.65 10.3875 6.0375 9.4875 6.675 8.7875C6.575 8.5375 6.225 7.5125 6.775 6.1375C6.775 6.1375 7.6125 5.875 9.525 7.1625C10.325 6.9375 11.175 6.825 12.025 6.825C12.875 6.825 13.725 6.9375 14.525 7.1625C16.4375 5.8625 17.275 6.1375 17.275 6.1375C17.825 7.5125 17.475 8.5375 17.375 8.7875C18.0125 9.4875 18.4 10.375 18.4 11.475C18.4 15.3125 16.0625 16.1625 13.8375 16.4125C14.2 16.725 14.5125 17.325 14.5125 18.2625C14.5125 19.1528 14.507 19.9268 14.5033 20.4443C14.5014 20.7043 14.5 20.8997 14.5 21.0125C14.5 21.275 14.6875 21.5875 15.1875 21.4875C17.1727 20.8173 18.8977 19.5415 20.1198 17.8395C21.3419 16.1376 21.9995 14.0953 22 12Z" fill="#808080"/>
            </svg>
            <span>GitHub</span>
        </button>
    </a>
</nav>