---
import Layout from '../layouts/Layout.astro';
import './styles.css';
---

<Layout title="Welcome to Astro." linesNumber={38} selectedFile="contact">
    <section class="contactSection">
        <h1>.contactInfo &#123;</h1>
        <ul>
            <li><span class="contactPropertyName">Name:</span><span> Aleix Rosell Morell</span></li>
            <li><span class="contactPropertyName">Phone:</span><span> +34 622 00 13 216,</span></li>
            <li><span class="contactPropertyName">Email:</span><span> aleixrosellmorell@gmail.com,</span></li>
            <li><span class="contactPropertyName">Location:</span><span> Vila-Seca - Tarragona,</span></li>
            <li><span class="contactPropertyName">LinkedIn:</span><span> /aleix-rosell-morell</span></li>
        </ul>
        <h1>&#125;</h1>
    </section>
</Layout>

