---    
import Layout from '../layouts/Layout.astro';
import '../styles/educationStyles.css'
import '../styles/experienceStyles.css';

---

<Layout title="Welcome to Astro." linesNumber={35} selectedFile="education">

    <div class="educationSection">
        <section class="educationOficialSection">
            <span>&#123;</span>
                <ul class="educationTitleSection">
                    <li><span class="jsonBlueColor">"title":</span><span>"Official education"</span></li>
                    <span><span class="jsonBlueColor">"data": </span>&#123;</span>
                </ul>
                <ul class="educationDegreeSection">
                    <li><span class="jsonBlueColor">"Degree title": </span><span class="jsonYellowColor">"Data Science",</span></li>
                    <li><span class="jsonBlueColor">"Institution name": </span><span class="jsonYellowColor">"Universitat Oberta de Catalunya(UOC)",</span></li>
                    <li><span class="jsonBlueColor">"Location": </span><span class="jsonYellowColor">"Remote",</span></li>
                    <li><span class="jsonBlueColor">"Graduation date": </span><span class="jsonPurpleColor">2023 - In progress</span></li>
                    <li><span class="jsonBlueColor">"Learned skills": </span>[<span class="jsonGreenColor">R, Python</span>]</li>
                </ul>
                <span class="educationTitleSection">&#125;,</span>
                <ul class="educationDegreeSection">
                    <li><span class="jsonBlueColor">"Degree title": </span><span class="jsonYellowColor">"Multiplatform Application Developer(DAM)",</span></li>
                    <li><span class="jsonBlueColor">"Institution name": </span><span class="jsonYellowColor">"La Salle Gracia",</span></li>
                    <li><span class="jsonBlueColor">"Location": </span><span class="jsonYellowColor">"Barcelona",</span></li>
                    <li><span class="jsonBlueColor">"Graduation date": </span><span class="jsonPurpleColor">2024,</span></li>
                    <li><span class="jsonBlueColor">"Learned skills": </span>[<span class="jsonGreenColor">Java, Kotlin, PHP, C#, Git, Node.js, MySQL</span>]</li>
                </ul>
                <span class="educationTitleSection">&#125;,</span>
                <ul class="educationDegreeSection">
                    <li><span class="jsonBlueColor">"Degree title": </span><span class="jsonYellowColor">"Web Application Developer(DAW)",</span></li>
                    <li><span class="jsonBlueColor">"Institution name": </span><span class="jsonYellowColor">"La Salle Gracia",</span></li>
                    <li><span class="jsonBlueColor">"Location": </span><span class="jsonYellowColor">"Barcelona",</span></li>
                    <li><span class="jsonBlueColor">"Graduation date": </span><span class="jsonPurpleColor">2023,</span></li>
                    <li><span class="jsonBlueColor">"Learned skills": </span>[<span class="jsonGreenColor">HTML, CSS, JavaScript, TypeScript, Angular, React</span>]</li>
                </ul>
                <span class="educationTitleSection">&#125;,</span>
            <span>&#125;</span>

        </section>
        
    </div>
    
</Layout>