---

import Layout from '../layouts/Layout.astro';
import '../styles/experienceStyles.css';

---

<Layout title="Welcome to Astro." linesNumber={35} selectedFile="experience">
    <div class="experienceSection">
        <h1>
            <span class="jsPurpleColor">const</span>
            <span class="jsOrangeColor">experience</span>
            <span class="jsBlueColor"> =</span>
            <span class="jsYellowColor"> &#91;</span>
        </h1>
        <ul class="experiencePropertyList">
            <li class="experienceObjectSymbol jsPurpleColor">&#123;</li>
            <li><span class="experiencePropertyName jsRedColor">Company:</span><span class="jsGreenColor"> "ClinicApp",</span></li>
            <li><span class="experiencePropertyName jsRedColor">Position:</span><span class="jsGreenColor"> "Full Stack Developer Intern"</span></li>
            <li><span class="experiencePropertyName jsRedColor">Duration:</span><span class="jsGreenColor"> "Nov. 2023 - Apr. 2024 (6 months)"</span></li>
            <li class="experienceDescriptionContainer"><span class="experiencePropertyName jsRedColor">Description:</span><span class="experienceText jsGreenColor"> "During my time at Clinicapp, I worked on both the backend and frontend. I created an <span class="jsGreenBoldColor">API with Node.js</span>, which was later used to provide <span class="jsGreenBoldColor">automatic emails</span>  to users, such as welcome emails, as well as some <span class="jsGreenBoldColor">encrypted billings</span>. This experience also allowed me to learn about public/private key cryptography. Additionally, I created an integrated <span class="jsGreenBoldColor">Trello clone</span> inside the main app to let users manage their tasks within the same application. This feature was developed using <span class="jsGreenBoldColor">Angular</span>." </span></li>
            <li class="experienceDescriptionContainer"><span class="experiencePropertyName jsRedColor">Technologies: </span><span class="jsGreenColor"><span class="jsBlueColor">&#91;</span> "Angular", "Git", "Node.js", "JavaScript", "TypeScript" <span class="jsBlueColor">&#93;</span></span></li>
            <li class="experienceObjectSymbol "><span class="jsPurpleColor">&#125;</span><span>,</span></li>
        </ul>
        <ul class="experiencePropertyList">
            <li class="experienceObjectSymbol jsPurpleColor">&#123;</li>
            <li><span class="experiencePropertyName jsRedColor">Company:</span><span class="jsGreenColor"> "Centre d'esquí La Bofia",</span></li>
            <li><span class="experiencePropertyName jsRedColor">Position:</span><span class="jsGreenColor"> "Ski instructor"</span></li>
            <li><span class="experiencePropertyName jsRedColor">Duration:</span><span class="jsGreenColor"> "Winter Seasons 2022 - 2024"</span></li>
            <li class="experienceDescriptionContainer"><span class="experiencePropertyName jsRedColor">Description:</span><span class="experienceText jsGreenColor"> "As a ski instructor, I have learned many valuable skills. While these may not seem directly relevant to programming, I believe they are extremely beneficial in my daily work. I have learned how to effectively interact with customers in stressful conditions and manage risk situations."</span></li>
            <li><span class="experiencePropertyName jsRedColor">Soft skills:</span><span class="jsGreenColor"> "Customer service"</span></li>
            <li class="experienceObjectSymbol "><span class="jsPurpleColor">&#125;</span><span>,</span></li>
        </ul>
        <h1>
            <span> &#93;</span>
        </h1>
    </div>
</Layout>

