---
import Layout from '../layouts/Layout.astro';
import './styles.css';
---

<Layout title="Welcome to Astro.">
    <div class="mainIndexSection">
        <h1 class="mainIndexTitle">ALEIX ROSELL MORELL</h1>
        <h2 class="mainIndexSubtitle">FULL STACK DEVELOPER</h2>
    </div>
</Layout>

