---
import Layout from '../layouts/Layout.astro';
import './styles.css';
---

<Layout title="Welcome to Astro." linesNumber={38}>
    <div class="mainIndexSection">
        <h1 class="mainIndexTitle">
            <span class="tagIndexText">&lt;H1&gt;</span>
            <span class="contentIndexText">ALEIX ROSELL</span>
            <span class="tagIndexText">&lt;/H1&gt;</span>
        </h1>
        <h2 class="mainIndexSubtitle">
            <span class="tagIndexText">&lt;H2&gt;</span>
            <span class="contentIndexText">FULL STACK DEVELOPER</span>
            <span class="tagIndexText">&lt;/H2&gt;</span>
        </h2>
        <p class="mainIndexText">
            <span class="tagIndexText">&lt;p&gt;</span>
            <span class="contentIndexText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque impedit perspiciatis nam cum consequatur esse voluptates facilis nihil nesciunt voluptate eveniet distinctio, enim fugiat, porro a saepe veniam libero odio laudantium quod maxime. Nemo, aperiam. Id, fuga veritatis! Facilis, voluptas quos similique excepturi hic ipsa voluptatum dignissimos ullam asperiores provident laborum amet alias fuga. Est dicta vero, laboriosam eius totam quam sequi aperiam velit exercitationem!</span>
            <span class="tagIndexText">&lt;/p&gt;</span>
        </p>
        <button class="downloadCVButton">
            DOWNLOAD CV
        </button>
    </div>
</Layout>

