.projectCardMainContainer{
    background-color: #808080;
    border-radius: 44px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
}

.mainImage{
    border-radius: 28px;
    aspect-ratio: 16/9;
}

.projectCardMainContainer h1{
    font-size: 24px;
    display: inline;
    font-weight: 700;
}

.projectCardMainContainer span{
    font-weight: 500;
}

.projectCardMainContainer p{
    font-weight: 400;
}

.porjectCardInfoSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px;
}

.projectCardUsedTechs{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px;
}

.projectCardUsedTechs svg{
    height: 32px;
}