---
import './styles.css'
const numbers = Array.from({ length: 100 }, (_, i) => i + 1);

---

<section class="contentDisplaySection">
    <div class="content">
        <div class="lineNumbers">
            {numbers.map((number) => (
                <div>{number}</div>
            ))}
        </div>
        <div class="contentSection">
            <slot/>
        </div>
    </div>
</section>