---
import { ViewTransitions } from 'astro:transitions';
import NavigationBar from '../components/NavigationBar/NavigationBar.astro';
import FilesSection from '../components/FilesSection/FilesSection.astro';
import ContentSection from '../components/ContentSection/ContentSection.astro';
import '../styles/global.css'

interface Props {
	title: string;
	linesNumber: number;
	selectedFile: string;
}

const { title, linesNumber, selectedFile } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="h-lvh w-full flex flex-col bg-primary overflow-hidden">
		
		<NavigationBar selectedFile={selectedFile}/>
		<div class="flex flex-row w-full">
			<FilesSection/>
			<ContentSection linesNumber={linesNumber}>
				<slot />
			</ContentSection>
		</div>
		
	</body>
</html>


